{% extends "AppWeb/base.html" %}

{% load static %}

{% block content %}

<div class="container">

    
    <div class="row">
        {% for producto in productos %}
        <div class="col-md-3">
            <div class="cardTienda">
                <img src="{{producto.imagen.url}}" class="card-img-top">
                <div class="card-body" style="text-align: center;">
                    <h6 class="card-title">{{producto.titulo}}</h6>
                    <h7 class="card-text">${{producto.precio}}</h7>
                </div>
                <div class="card-footer text-center" style="background-color: white;">
                    <a href="{% url 'carrito:agregar' producto.id %}" class="btn btn-success" 
                    style="background-color: rgb(255, 115, 0); border-color: rgb(255, 115, 0); white-space: normal; 
                    display: block; width: auto; ">Agregar a carrito</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}