<html>

<head>

    {% load static %}

    <!-- Bootstrap -->
    <link href="{% static 'AppWeb/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

     <!-- Fonts -->
    
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
     

    <!-- Styles -->
    <link href="{% static 'AppWeb/css/gestion.css' %}" rel="stylesheet">
</head>

<body>
    <h1 class="site-heading text-center text-white d-none d-lg-block">
        <span class="site-heading-lower">Hype Market</span>
      </h1>
      

 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="{% url 'Home' %}">Hype Market</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item {% if request.path == '/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Home' %}">Inicio</a>
          </li>
          <li class="nav-item {% if request.path|slice:':11' == '/productos/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Productos' %}">Productos</a>
          </li>
          <li class="nav-item {% if request.path|slice:':8' == '/tienda/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Tienda' %}">Tienda</a>
          </li>
          <li class="nav-item {% if request.path|slice:':10' == '/contacto/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Contacto' %}">Contacto</a>
          </li>
          <li class="nav-item {% if request.path|slice:':6' == '/blog/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Blog' %}">Blog</a>
          </li>
        </ul>
        <a href="{% url 'carrito:widget' %}">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-cart3"
            viewBox="0 0 16 16" href="{% url 'carrito:widget' %}">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 
                      1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 
                      5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 
                      0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 
                      1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 
                      1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1
                      0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
          </svg>
        </a>
      </div>
    </div>
  </nav>

  
  <!-- Contenido cambiante-->
    {% block content %}

    {% endblock %}


    <!-- Footer -->
    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0">
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	    </p>
        <p class="m-0 mbt">
        	<a href="sample.html" class="link">Política de privacidad</a> ·
        	<a href="sample.html" class="link">Aviso legal</a> ·
        	<a href="sample.html" class="link">Cookies</a>
		</p>
        <p class="m-0 mbt1">&reg; Hype Market 2021</p>
      </div>
	</footer>

    <!-- Bootstrap -->
    <script src="{% static 'AppWeb/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'AppWeb/vendor/bootstrap/js/bootstrap.bundle.min.js' &}"></script>

</body>


</html>